 /* stylelint-disable no-empty-source */

 /* Shipping address list */
.negotiable-quote__shipping-information-addresses .dropin-header-container__title {
    font: var(--type-details-caption-1-font);
    letter-spacing: var(--type-details-caption-1-letter-spacing);
}

/* Addresses wrapper */
.negotiable-quote__shipping-information-addresses .account-addresses-wrapper--select-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-small);
}

/* Address card */
.negotiable-quote__shipping-information-addresses .dropin-card {
    height: 100%;
}

/* Address wrapper footer - takes up an entire flex row by itself */
.negotiable-quote__shipping-information-addresses .account-addresses-wrapper__footer-section {
    grid-column: span 2;
}